In [ ]:
import pandas as pd

df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

# print(df)
# print(df['Age'])
# print(df['Age'].max())
print(dir(df))

In [ ]:
import pandas as pd

df = pd.read_excel(r'/Users/sruta/Documents/2022 06 12 连线点一览表 V3.xlsx')

print(df.head())
# print(df)

In [85]:
import pandas as pd

filename = r'/Users/sruta/dev/jupyter/pandas-master/pokemon_data.csv'
filename_txt = r'/Users/sruta/dev/jupyter/pandas-master/pokemon_data.txt'

df = pd.read_csv(filename)

# 读取以TXT格式存储的CSV文件
# df_txt = pd.read_csv(filename_txt, delimiter='\t')
# print(df_txt.head(5))

# 打印首行、尾行
print(df.head(5))
print('=' * 90)
# print((df.tail(3)))

# 打印表头(列名)
# print(df.columns)

# 打印指定列
# print(df['Name'])  # 像字典一样获取
# print(df.Name)  # 像属性一样获取
# print(df['Speed'][:5])  # 可以使用切片
# print(df[['Name', 'Attack', 'Speed']])  # 同时获取多列，注意格式（两重方括号）

# 打印指定行
# print(df.iloc[0])  # 使用行号
# print(df.iloc[2:5])  # 打印多行，使用切片

# 定位指定单元格
# print(df.iloc[4, 1])  # iloc[行号，列号]

# 按条件筛选定位单元格
# print(df.loc[df['HP'] >= 60])
# df.loc[df['Type 1'] == 'Grass']
# df.loc[df['Type 1'] == 'Grass']['Type 2']

# 逐行遍历
# for index, row in df.iterrows():
#     print(index, row)
#     print(index, row['Name'])

# 表格常见统计信息，如计数、平均、最大、最小、方差、标准差
# df.describe()

# 排序
# df.sort_values(by='Name', ascending=False)
# df.sort_values(by=['Name', 'Speed'], ascending=[True, False])

# 改变表数值
# df['Total'] = df['HP'] + df['Attack'] + df['Sp. Atk'] + df['Defense'] + df['Sp. Def'] + df['Speed']

# iloc[:, 4:9]指所有行，第5列到第9列，区间前闭后开
# df['Total'] = df.iloc[:, 4:10].sum(axis=1)  # asix=1 指水平相加，asix=0 指垂直相加
# df.head(5)

# 删除列
# df.drop(['Total'], axis=1, inplace=True)
# df = df.drop(columns=['Total'])

# 重新排列列顺序，这个例子中将 Total列放到中间
print(df.columns.values)
cols = list(df.columns.values)  # 注意这里要转成list
print(cols)
df = df[cols[0:4] + [cols[-1]] + cols[4:-1]]

# 显示前5行
df.head(5)

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
==========================================================================================
['#' 'Name' 'Type 1' 'Type 2' 'HP' 'Attack' 'Defense' 'Sp. Atk' 'Sp. Def'
 'Speed' 'Generation' 'Legendary']
['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1